@function vw($width) {
  @return if($selfAdaption, ($width / 3840px) * 100 + vw, $width);
}

@function vh($height) {
  @return if($selfAdaption, ($height / 2160px) * 100 + vh, $height);
}

// 大项背景色
$bgColor: rgba(2, 46, 118, 0.3);

// 小项背景色
$sBgColor: rgba(0, 151, 255, 0.08);

$bSize: vw(60px);

$size: vw(40px);

$sSize: vw(36px);

$mSize: vw(32px);
